/***** BASE STYLES *****/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

/***** GRID *****/

.full-width {
  margin: 0 auto;
  width: 100%;
}

.half-width, .half-width-about {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.third-width {
  align-items: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

/***** Header *****/

header {
  align-items: center;
  background-image: url("../img/hero-image.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 400px;
  text-align: center;
  width: 100%;
}

header h1 {
  color: #ffdb99;
  font-family: 'Bowlby One SC';
  font-size: 48px;
  margin: auto;
}

header h2 {
  color: #095256;
  font-size: 24px;
  margin: auto;
  padding-left:30px;
}

/***** Portfolio  *****/
#portfolio {
  background-color: #ffffff;
}

#portfolio h3 {
  color: #095256;
  display: flex;
  font-family: 'Bowlby One SC';
  justify-content: center;
  padding: 20px;
}

#portfolio img {
 max-width: 450px;
}

#portfolio h4, #portfolio p {
  color: #095256;
  text-align: justify;
  margin: 5px 5px 10px 5px;
  max-width: 450px;
  padding: 0;

}

#portfolio .project-info, .project-info-1, .project-info-2, .project-info-3 {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#portfolio .project-info {
  border-bottom: solid 2px;
  margin: 20px;
}


/***** About  *****/
#about {
  background-color: #296c78;
  border: solid 1px;
  border-color: #296c78;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}

#about h3 {
  color: #ffffff;
  font-family: 'Bowlby One SC';
}

#about p {
  color: #ffffff;
  max-width: 450px;
  text-align: justify;
}

/***** Connect  *****/
#connect {
  align-items: center;
  background-color: #184044;
  border: solid 1px;
  border-color: #184044;
  justify-content: center;
  margin-top: 0;
  text-align: center;
}

#connect h3, #connect h4, #connect p {
  color: #ffffff;
}

#connect p {
margin-top: 25px;
}

#connect h3 {
  font-family: 'Bowlby One SC';
}

#connect img {
  clear: both;
  float: left;
  margin: 10px;
}
/***** Footer  *****/
footer {
  background-color: #184044;
  text-align: center;
}

footer p {
  color: #ffffff;
  font-size: 0.75em;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/****** Tablet Styles ******/
@media (min-width: 768px) {

  header {
    min-height: 600px;
  }

  #portfolio img, #portfolio h4 {
    text-align: center;
    width: 95%;
  }

  #portfolio .project-info, .project-info-1, .project-info-2, .project-info-3 {
    display: inline;
    float: left;
  }

  #portfolio .project-info {
    border-bottom: none;
  }

  #about {
    display: inline;
    float: left;
    width: 100%;
  }

  #about img {
    margin: 20px;
  }

  #connect {
    display: inline;
    float: left;
    width: 100%;
  }

  #hire, #follow {
    display: inline;
    margin-bottom: 50px;
    width: 50%;
  }

  #hire {
    float: left;
  }

  #follow {
    float: right;
  }
}



/****** Desktop Styles ******/
@media (min-width: 1200px) {
  header {
    height: 800px;
  }

  header h1 {
    font-size: 4.5em;
  }

  header h2 {
    font-size: 2.25em;
    width: 800px;
  }

}
